{# {% from 'macros.html.j2' import show_source %}
{% if key != '.' %}
{% if contents.data | length <= 10 %}
{{ show_source(raw, key) }}
{% endif %}
{% endif %} #}
<dl>
{% for this_key, value in contents.data.items() %}
    <dt data-toggle="tooltip" title="{{ key }}.{{ this_key }}"><button type="button" class="btn btn-default">
    <span class="fa fa-plus"></span></button>{{ this_key }}</dt>
    <dd>{{ value }}</dd>
{% endfor %}
</dl>
{# TODO - give nested KVs some indent #}