<div class="row">
    {# <hr> #}
    <h2>Searchable Tree</h2>
    <div class="col-sm-4">
        <h2>Input</h2>
        <!-- <form> -->
        <div class="form-group">
            <label for="input-search" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="">
        </div>
        <div class="checkbox">
            <label>
            <input type="checkbox" class="checkbox" id="chk-ignore-case" value="false">
            Ignore Case
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input type="checkbox" class="checkbox" id="chk-exact-match" value="false">
            Exact Match
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input type="checkbox" class="checkbox" id="chk-reveal-results" value="false">
            Reveal Results
            </label>
        </div>
        <button type="button" class="btn btn-success" id="btn-search">Search</button>
        <button type="button" class="btn btn-default" id="btn-clear-search">Clear</button>
        <!-- </form> -->
    </div>
    <div class="col-sm-4">
        <h2>Tree</h2>
        <div id="treeview-searchable" class="treeview">
        <ul class="list-group">
            <li class="list-group-item node-treeview-searchable" data-nodeid="0" style="color:undefined;background-color:undefined;">
            <span class="icon expand-icon glyphicon glyphicon-minus"></span>
            <span class="icon node-icon"></span>Parent 1</li>
            <li class="list-group-item node-treeview-searchable" data-nodeid="1" style="color:undefined;background-color:undefined;">
            <span class="indent"></span>
            <span class="icon expand-icon glyphicon glyphicon-plus"></span>
            <span class="icon node-icon"></span>Child 1</li>
            
            <li class="list-group-item node-treeview-searchable" data-nodeid="4" style="color:undefined;background-color:undefined;">
            <span class="indent"></span>
            <span class="icon glyphicon"></span>
            <span class="icon node-icon"></span>Child 2</li>
            
            <li class="list-group-item node-treeview-searchable" data-nodeid="5" style="color:undefined;background-color:undefined;">
            <span class="icon glyphicon"></span>
            <span class="icon node-icon"></span>Parent 2</li>
            <li class="list-group-item node-treeview-searchable" data-nodeid="6" style="color:undefined;background-color:undefined;">
            <span class="icon glyphicon"></span>
            <span class="icon node-icon"></span>Parent 3</li>
            <li class="list-group-item node-treeview-searchable" data-nodeid="7" style="color:undefined;background-color:undefined;">
            <span class="icon glyphicon"></span><span class="icon node-icon">
            </span>Parent 4</li>
            
            <li class="list-group-item node-treeview-searchable" data-nodeid="8" style="color:undefined;background-color:undefined;"><span class="icon glyphicon"></span><span class="icon node-icon"></span>Parent 5</li>
        </ul></div>
    </div>
    <div class="col-sm-4">
        <h2>Results</h2>
        <div id="search-output"></div>
    </div>
</div>
